In [1]:
#Check Duplicate

a={1,2,2,3,3,4,5,5,5,}
a

{1, 2, 3, 4, 5}

In [2]:
#Unordered

a[0]

TypeError: 'set' object is not subscriptable

In [3]:
#mutable 

a[1]=3
a

TypeError: 'set' object does not support item assignment

In [4]:
#add single element

a.add(999)
a

{1, 2, 3, 4, 5, 999}

In [5]:
#add multiple element

a.update([100,500,700])
a

{1, 2, 3, 4, 5, 100, 500, 700, 999}

In [6]:
#add range in set

l=[10,20,30,40]
b=set()

b.update(l,range(50,100,10))
b

{10, 20, 30, 40, 50, 60, 70, 80, 90}

In [8]:
#for delete in set pop remove any value

b.pop()

40

In [12]:
#to remove specific element - remove(x)

b.remove(80)
b

{10, 20, 30, 50, 60}

In [13]:
#discard - dont show error if element is not in set

b.discard(80)
b

{10, 20, 30, 50, 60}

In [16]:
#mathamathical operator
# UNION - This function return all elements in both set

x={10,20,30}
y={20,30,40}

x.union(y) #by using union

{10, 20, 30, 40}

In [17]:
# UNION - This function return all elements in both set

x={10,20,30}
y={20,30,40}

x|y # by using symbol union

{10, 20, 30, 40}

In [19]:
#INTERSECTION - return coman elements
x.intersection(y) 
x&y

{20, 30}

In [21]:
#difference

x.difference(y)
x-y

{10}

In [24]:
#summetric difference - return element not in set but in both.

x.symmetric_difference(y)
x^y

{10, 40}