In [10]:
#Arithmatic Operators

num1=int(input("enter 1st number - "))
num2=int(input("enter 2nd number - "))

print("Addition -",num1+num2)

print("substraction -",num1-num2)

print("multiplication -",num1*num2)

print("division -",num1/num2)

print("floor division -",num1//num2)

print("remainder -",num1%num2)

print("power -",num1**num2)

enter 1st number - 10
enter 2nd number - 4
Addition - 14
substraction - 6
multiplication - 40
division - 2.5
floor division - 2
remainder - 2
power - 10000

In [12]:
#comparison operator or relational operators

num1=int(input("enter 1st number - "))
num2=int(input("enter 2nd number - "))

print("num1>num2 -",num1>num2)
print("num1<num2 -",num1<num2)
print("num1>=num2 -",num1>=num2)
print("num1<=num2 -",num1<=num2)
print("num1==num2 -",num1==num2)
print("num1!=num2 -",num1!=num2)

enter 1st number - 15
enter 2nd number - 10
num1>num2 - True
num1<num2 - False
num1>=num2 - True
num1<=num2 - False
num1==num2 - False
num1!=num2 - True

In [6]:
num1=input("enter 1st string - ")
num2=input("enter 2nd string - ")

print("num1>num2 -",num1>num2)
print("num1<num2 -",num1<num2)
print("num1>=num2 -",num1>=num2)
print("num1<=num2 -",num1<=num2)
print("num1==num2 -",num1==num2)
print("num1!=num2 -",num1!=num2)

enter 1st stringpython
enter 2nd stringprogramming
num1>num2 - True
num1<num2 - False
num1>=num2 - True
num1<=num2 - False
num1==num2 - False
num1!=num2 - True

In [13]:
#Logical Operator

num1=int(input("enter 1st number - "))
num2=int(input("enter 2nd number - "))
num3=int(input("enter 2nd number - "))
print(num1>num2 and num1>num2)
print(num1>num2 or num1>num2)

enter 1st number - 12
enter 2nd number - 10
enter 2nd number - 14
True
True

In [14]:
#Membership Operator

s1="itvedant"
print("a" in s1)
print("a" not in s1)
print("z" not in s1)

True
False
True

In [17]:
#Reverse the input value

rev=0
n=int(input("Enter Number - "))
while(n>0):
    digit=n%10
    rev=rev*10+digit
    n=n//10
    print("reversed no - ",rev)

Enter Number - 1234
reversed no -  4
reversed no -  43
reversed no -  432
reversed no -  4321

In [23]:
# swapping of two numbers - By using "Temp"

a=int(input("enter number A - "))
b=int(input("enter number B - "))

temp=a
a=b
b=temp

print("A - ",a)
print("B - ",b)

enter number A - 12
enter number B - 10
A -  10
B -  12

In [24]:
# swapping of two numbers - By using "Operators"( +, - )

a=10
b=20

a=a+b
b=a-b
a=a-b

print("A - ",a)
print("B - ",b)

A -  20
B -  10

In [29]:
#average marks of subjects

print("Enter your marks ")

S1=float(input("Maths - ",))
S2=float(input("Science - ",))
S3=float(input("English - ",))
S4=float(input("Hindi - ",))
S5=float(input("History - ",))

total = S1 + S2 + S3 + S4 + S5;
average = total/5

print("Average marks = ", average)

Enter your marks
Maths - 50
Science - 60
English - 70
Hindi - 80
History - 90
Average marks =  70.0

In [ ]:
Name=input("Enter Your Name - ", )
Age = input("Enter Your Age - ", )
Phone_No = input("Enter Your Phone No. - ", )
Salary = input("Enter Your Salary - ", )
Married = input(" Married ? T of F - ",)

print("Employee Name - ",Name, "\n",
      "Employee Name - ",Age, "\n",
      "Employee Name - ",Phone_No, "\n",
      "Employee Name - ",Salary, "\n"
      print("T" in Married))