In [6]:
# # # #
# # # #
# # # #
# # # #


# to print single # we use print('#')

# this is normal method to print by same sentence

for i in range (1,5):
    print("#", end=" ")
print()
for i in range (1,5):
    print("#", end=" ")
print()
for i in range (1,5):
    print("#", end=" ")
print()
for i in range (1,5):
    print("#", end=" ")

# # # #
# # # #
# # # #
# # # #

In [21]:
for i in range (1,5):
    for j in range(1,5):
        print("#", end=" ")
    print()

# # # #
# # # #
# # # #
# # # #

In [26]:
n=5
for i in range (1,n):
    for j in range(i):
        print("#", end=" ")
    print()

#
# #
# # #
# # # #

In [34]:
num=1
for i in range(0, n):
    num=1
    for j in range(0, i+1):
        print(num, end=" ")
        num = num + 1
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [47]:
for i in range (1,5):
    for j in range(i,5):
        print("#", end=" ")
    print()

# # # #
# # #
# #
#

In [49]:
for i in range (1,5):
    for j in range(1,6-i):
        print(j, end=" ")
    print()

1 2 3 4
1 2 3
1 2
1

In [54]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j, end =" ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [63]:
n=int(input("enter a number ",))
for i in range(1,11):
    print(n,"x",i,"=",n*i)

enter a number 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

In [68]:
# continue statement

for a in range(1,51):
    if(a%5==0):
        continue
    print(a,end=" ")

1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21 22 23 24 26 27 28 29 31 32 33 34 36 37 38 39 41 42 43 44 46 47 48 49

In [69]:
# Break Statement

for a in range(1,51):
    if(a%5==0):
        break
    print(a,end=" ")

1 2 3 4

In [71]:
for i in range (1,11):
    if i%2==0:
        pass
    else:
        print(i)

1
3
5
7
9

In [88]:
for i in range(1,21):
    if(i%3==0 and 1%5==0):
        print(i)
        continue

In [90]:
cart=[10,20,300,400,100.30,50]
for i in cart:
    if i>100:
        print("add money")
        continue
    print(i)

10
20
add money
add money
add money
50

In [97]:
for a in range(1,11):
    if(a%2==0):
        continue
    print(a+1,end=" ")

2 4 6 8 10

In [2]:
#leap year

year=int(input())

if ((year%4==0) or (year%400==0)):
    print(year)

else:
    print(year)

2000
2000

In [3]:
# prime no

n=int(input())

if n==1:
    print("1 is not a prime no")
elif n>=2:
    for i in range(2,n):
        flag=0
        if (n%1==0):
            flag=1
            break
    if (flag==0):
        print("prime number")
    else:
        print("Not a prime")
else:
    print("invalid input")

9
Not a prime

In [6]:
# prime no

n=int(input())

if n==1:
    print("1 is not a prime no")
elif n>=2:
    for i in range(2,n):
        flag=0
        if (n%1==0):
            print(n,"is not a prime no")
            break
    if (flag==0):
        print("prime number")
else:
    print("invalid input")

7
7 is not a prime no
prime number

In [12]:
#atm withdrawl

cash=int(input("Enter amount you want to withdraw"))
bal=10000

if (cash>bal):
    print("Insufficient Balance")
elif cash>=100 and cash<=bal:
    bal=bal-cash
    print("remaining balance", bal)
elif cash<100:
    print("you can not withdraw less than 100")
else:
    print("matchine is running out of cash")

Enter amount you want to withdraw6000
remaining balance 4000

In [18]:
s1="python"
l=[]
for i in s1:
    l.append(i)
print(l)

['p', 'y', 't', 'h', 'o', 'n']

In [19]:
#- comprihention 

# expression/outut for val in seq 

[i for i in s1]

['p', 'y', 't', 'h', 'o', 'n']

In [20]:
even=[]
for i in range (1,21):
    if i%2==0:
        even.append(i)
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [21]:
[i for i in range(1,21) if i%2==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [22]:
even=["even" if i%2==0 else "odd" for i in range(1,21)]
print(even)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [34]:
fruits=['apple','banana','cherry','mango']

for i in fruits:
    a=i.capitalize()
    print(a)

Apple
Banana
Cherry
Mango

In [36]:
[i.capitalize() for i in fruits]

['Apple', 'Banana', 'Cherry', 'Mango']

In [37]:
for i in range(1,11):
    sq=i**2
    print(sq)

1
4
9
16
25
36
49
64
81
100

In [38]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [40]:
[i for i in range(1,11) if i%5==0 ]

[5, 10]

In [42]:
names=['prashant','pooja','akash','pratik']
l=[]

for i in names:
    l.append(i[0])
print(l)

['p', 'p', 'a', 'p']

In [44]:
l=[i[0] for i in names]
l

['p', 'p', 'a', 'p']

In [55]:
a=[10,20,30,40]
b=[30,40,50,60]

for i in a:
    if i in b:
        print(i)

30
40

In [61]:
number=[i for i in a if i in b]
print(number)

[30, 40]

In [65]:
s1="Python is very easy programming language"
s=s1.split()
print(s)

['Python', 'is', 'very', 'easy', 'programming', 'language']

In [81]:
l=[]
for i in s:
    l.append((i.upper(),len(i)))
#    l.append(len(i))
print(l)

[('PYTHON', 6), ('IS', 2), ('VERY', 4), ('EASY', 4), ('PROGRAMMING', 11), ('LANGUAGE', 8)]

In [75]:
l=[(i.upper(),len(i)) for i in s]
print(l)

[('PYTHON', 6), ('IS', 2), ('VERY', 4), ('EASY', 4), ('PROGRAMMING', 11), ('LANGUAGE', 8)]

In [82]:
#write a program to display unique vovels presend in the given word

In [84]:
x={i for i in range(1,11)}
print(x)
print(type(x))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
<class 'set'>

In [87]:
{i for i in range(1,11) if i%2==0}

{2, 4, 6, 8, 10}

In [88]:
sq={i:i**2 for i in range(1,11)}
print(sq)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [93]:
d2={"a":37,"b":46,"c":67,"d":44,"e":12}

even={}
for k,v in d2.items():
    if v%2==0:
        even[k]=v
print(even)

{'b': 46, 'd': 44, 'e': 12}

In [100]:
a={}
for k,v in d2.items():
    v1=v+50
    a[k]=v1
print(add)

{'a': 87, 'b': 96, 'c': 117, 'd': 94, 'e': 62}